# eCommerce Events History in Cosmetics Shop Data Processing
######  ※因為原始資料檔案太大，因此將Python程式分為資料預處理和資料分析兩部分，本檔案為資料預處理的一部分。  
######  ※此為使用五個月數據分析的測試集，將會使用全部五個月的數據來進行集群分析，供比對顧客集群結果使用。  
此專案將針對化妝品電商數據進行分析，並且針對顧客進行分群研究，找出其中的商業價值。  
此數據集是一家中型化妝品電商在2019年10月至2020年2月間的各種消費者行為數據。一筆數據代表一個事件，每個事件都類似於產品和用戶之間的多對多關係。

1. 資料預處理
2. 探索性資料分析
3. 重要經營指標分析
4. RSFM集群分析
5. 集群結果分析
6. Tableau視覺化報表
7. 測試集集群對照
8. 結論

Dataset: https://www.kaggle.com/datasets/mkechinov/ecommerce-events-history-in-cosmetics-shop , from  REES46 Marketing Platform.

## Import Libraries

In [1]:
import numpy as np
import pandas as pd
import os 
pd.set_option('display.float_format', lambda x: '%.3f' % x) #禁用科學記號不然數字會很難看

## Loading Data

In [2]:
data1 = pd.read_csv('./ecommerce/2019-Oct.csv')

In [3]:
data1.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,cart,5773203,1487580005134238553,NaN,runail,2.620,463240011,26dd6e6e-4dac-4778-8d2c-92e149dab885
1,2019-10-01 00:00:03 UTC,cart,5773353,1487580005134238553,NaN,runail,2.620,463240011,26dd6e6e-4dac-4778-8d2c-92e149dab885
2,2019-10-01 00:00:07 UTC,cart,5881589,2151191071051219817,NaN,lovely,13.480,429681830,49e8d843-adf3-428b-a2c3-fe8bc6a307c9
3,2019-10-01 00:00:07 UTC,cart,5723490,1487580005134238553,NaN,runail,2.620,463240011,26dd6e6e-4dac-4778-8d2c-92e149dab885
4,2019-10-01 00:00:15 UTC,cart,5881449,1487580013522845895,NaN,lovely,0.560,429681830,49e8d843-adf3-428b-a2c3-fe8bc6a307c9

In [4]:
files= [file for file in os.listdir('./ecommerce')]

all_m_data= pd.DataFrame()
for file in files:
    df = pd.read_csv('./ecommerce/' + file)
    print(f"{df}'s shape: {df.shape}")
    all_m_data = pd.concat([all_m_data,df])
all_m_data.drop('user_session', axis= 1, inplace= True)
all_m_data.to_csv("alldata.csv", index= False)

                      event_time        event_type  product_id  \
0        2019-12-01 00:00:00 UTC  remove_from_cart     5712790
1        2019-12-01 00:00:00 UTC              view     5764655
2        2019-12-01 00:00:02 UTC              cart        4958
3        2019-12-01 00:00:05 UTC              view     5848413
4        2019-12-01 00:00:07 UTC              view     5824148
...                          ...               ...         ...
3533281  2019-12-31 23:59:39 UTC              view     5683350
3533282  2019-12-31 23:59:46 UTC              view     5888097
3533283  2019-12-31 23:59:51 UTC              view       59975
3533284  2019-12-31 23:59:52 UTC              view     5775982
3533285  2019-12-31 23:59:57 UTC              view     5635090

                 category_id category_code      brand   price    user_id  \
0        1487580005268456287           NaN      f.o.x   6.270  576802932
1        1487580005411062629           NaN        cnd  29.050  412120092
2        1487580009471148064           NaN     runail   1.190  494077766
3        1487580007675986893           NaN  freedecor   0.790  348405118
4        1487580005511725929           NaN        NaN   5.560  576005683
...                      ...           ...        ...     ...        ...
3533281  1487580005671109489           NaN     masura   2.840  536812729
3533282  1487580013388628160           NaN       shik 179.050  503658154
3533283  1487580012096782476           NaN        NaN   7.140  595414541
3533284  1783999063314661546           NaN        NaN  11.900  397780878
3533285  1487580005754995573           NaN        NaN   4.440  420652863

                                 user_session
0        51d85cb0-897f-48d2-918b-ad63965c12dc
1        8adff31e-2051-4894-9758-224bfa8aec18
2        c99a50e8-2fac-4c4d-89ec-41c05f114554
3        722ffea5-73c0-4924-8e8f-371ff8031af4
4        28172809-7e4a-45ce-bab0-5efa90117cd5
...                                       ...
3533281  e4a2d47c-a956-4c46-8176-745f52ea664b
3533282  2dde9867-9e71-4a64-880d-aa68b66aae6d
3533283  4c6d80bb-5dd3-4fbb-b592-187b51db2753
3533284  7e8a2b85-153a-44eb-a71f-b748fde14fcc
3533285  546f6af3-a517-4752-a98b-80c4c5860711

[3533286 rows x 9 columns]'s shape: (3533286, 9)
                      event_time        event_type  product_id  \
0        2019-11-01 00:00:02 UTC              view     5802432
1        2019-11-01 00:00:09 UTC              cart     5844397
2        2019-11-01 00:00:10 UTC              view     5837166
3        2019-11-01 00:00:11 UTC              cart     5876812
4        2019-11-01 00:00:24 UTC  remove_from_cart     5826182
...                          ...               ...         ...
4635832  2019-11-30 23:59:46 UTC              view     5830317
4635833  2019-11-30 23:59:47 UTC              view     5733064
4635834  2019-11-30 23:59:47 UTC              view     5867785
4635835  2019-11-30 23:59:57 UTC              view     5779406
4635836  2019-11-30 23:59:58 UTC              view     5880201

                 category_id category_code     brand  price    user_id  \
0        1487580009286598681           NaN       NaN  0.320  562076640
1        1487580006317032337           NaN       NaN  2.380  553329724
2        1783999064103190764           NaN       pnb 22.220  556138645
3        1487580010100293687           NaN  jessnail  3.160  564506666
4        1487580007483048900           NaN       NaN  3.330  553329724
...                      ...           ...       ...    ...        ...
4635832  1487580009496313889           NaN       NaN  4.760  457678989
4635833  1487580004832248652           NaN   beautix  9.370  422196217
4635834  1487580007835370453           NaN      kims 31.100  572579084
4635835  2151191071051219817           NaN       NaN  2.860  540006764
4635836  2029731308699124089           NaN    rasyan  3.760  579969854

                                 user_session
0        09fafd6c-6c99-46b1-834f-33527f4de241
1        2067216c-31b5-455d-a1cc-af0575a34ffb
2        57ed222e-a54a-4907-9944-5a875c2d7f4f
3        186c1951-8052-4b37-adce-dd9644b1d5f7
4        2067216c-31b5-455d-a1cc-af0575a34ffb
...                                       ...
4635832  ee50b160-a4db-4722-8751-6812c5b38295
4635833  ab5e6dd5-8700-4ecc-a300-9f1eca5d1a95
4635834  d42865b7-7e04-4038-9be0-a59165625f06
4635835  d4b5aa49-d731-40f1-92f1-277416d6e063
4635836  e9fa2c3e-8c9e-448c-880a-21ca57c18b3b

[4635837 rows x 9 columns]'s shape: (4635837, 9)
                      event_time        event_type  product_id  \
0        2019-10-01 00:00:00 UTC              cart     5773203
1        2019-10-01 00:00:03 UTC              cart     5773353
2        2019-10-01 00:00:07 UTC              cart     5881589
3        2019-10-01 00:00:07 UTC              cart     5723490
4        2019-10-01 00:00:15 UTC              cart     5881449
...                          ...               ...         ...
4102278  2019-10-31 23:59:25 UTC  remove_from_cart     5848062
4102279  2019-10-31 23:59:30 UTC              view     5885631
4102280  2019-10-31 23:59:34 UTC              view     5784898
4102281  2019-10-31 23:59:36 UTC              view     5870838
4102282  2019-10-31 23:59:54 UTC              view       59996

                 category_id category_code   brand  price    user_id  \
0        1487580005134238553           NaN  runail  2.620  463240011
1        1487580005134238553           NaN  runail  2.620  463240011
2        2151191071051219817           NaN  lovely 13.480  429681830
3        1487580005134238553           NaN  runail  2.620  463240011
4        1487580013522845895           NaN  lovely  0.560  429681830
...                      ...           ...     ...    ...        ...
4102278  1526733091857498510           NaN     NaN  9.210  429913900
4102279  1783999064103190764           NaN     NaN 15.480  556138645
4102280  1487580009143992338           NaN     NaN  1.780  564441099
4102281  1487580007675986893           NaN    milv  0.790  429913900
4102282  1487580012927254698           NaN     NaN  4.130  566280798

                                 user_session
0        26dd6e6e-4dac-4778-8d2c-92e149dab885
1        26dd6e6e-4dac-4778-8d2c-92e149dab885
2        49e8d843-adf3-428b-a2c3-fe8bc6a307c9
3        26dd6e6e-4dac-4778-8d2c-92e149dab885
4        49e8d843-adf3-428b-a2c3-fe8bc6a307c9
...                                       ...
4102278  2f0bff3c-252f-4fe6-afcd-5d8a6a92839a
4102279  57ed222e-a54a-4907-9944-5a875c2d7f4f
4102280  8cbf1746-2d46-4169-afb1-b5fa38ee1ba4
4102281  2f0bff3c-252f-4fe6-afcd-5d8a6a92839a
4102282  4eaf7c71-e8bf-4ea6-b719-eca144466eb3

[4102283 rows x 9 columns]'s shape: (4102283, 9)
                      event_time event_type  product_id          category_id  \
0        2020-02-01 00:00:01 UTC       cart     5844305  1487580006317032337
1        2020-02-01 00:00:03 UTC       view     5769925  1487580013841613016
2        2020-02-01 00:00:08 UTC       view     5817765  1487580008246412266
3        2020-02-01 00:00:11 UTC       view     5877033  1487580010100293687
4        2020-02-01 00:00:12 UTC       cart     5814871  1487580008112194531
...                          ...        ...         ...                  ...
4156677  2020-02-29 23:59:32 UTC       view     5885416  1487580005092295511
4156678  2020-02-29 23:59:39 UTC       cart     5550686  1487580008145748965
4156679  2020-02-29 23:59:45 UTC       view     5850628  1602943681873052386
4156680  2020-02-29 23:59:54 UTC       view     5716351  1487580010872045658
4156681  2020-02-29 23:59:59 UTC       view     5927709  1487580013950664926

        category_code    brand  price    user_id  \
0                 NaN      NaN  2.140  485174092
1                 NaN   kapous  4.220  594621622
2                 NaN   zeitun 11.030  495404942
3                 NaN     milv  3.490  564814969
4                 NaN   zinger  2.540  551205603
...               ...      ...    ...        ...
4156677           NaN  grattol  6.270  622082947
4156678           NaN      NaN  1.110  459705611
4156679           NaN  grattol  5.240  622090043
4156680           NaN    irisk  0.790  619841242
4156681           NaN   de.lux  3.170  621669991

                                 user_session
0        4be9643a-420b-4c6b-83dd-a15e772fbf7a
1        a88baf11-9cd0-4362-bde4-1bfeed3f641d
2        3a569c8d-d848-4f09-a925-33f673d84c46
3        7feb39e5-bb7b-4b2b-a546-3e3b7c56326e
4        106a7c7f-7fa1-4463-8bec-0ea7b02191cb
...                                       ...
4156677  fb29909b-6ef5-4662-b4ee-288e73e5dc10
4156678  05d2add3-01f7-47ee-8364-27341673227f
4156679  ab7d349f-db5d-4790-8ab1-31e5c894459d
4156680  18af673b-7fb9-4202-a66d-5c855bc0fd2d
4156681  daa3c677-5360-4327-847e-d29658716b99

[4156682 rows x 9 columns]'s shape: (4156682, 9)
                      event_time        event_type  product_id  \
0        2020-01-01 00:00:00 UTC              view     5809910
1        2020-01-01 00:00:09 UTC              view     5812943
2        2020-01-01 00:00:19 UTC              view     5798924
3        2020-01-01 00:00:24 UTC              view     5793052
4        2020-01-01 00:00:25 UTC              view     5899926
...                          ...               ...         ...
4264747  2020-01-31 23:59:52 UTC  remove_from_cart     5886774
4264748  2020-01-31 23:59:52 UTC  remove_from_cart     5886774
4264749  2020-01-31 23:59:53 UTC              view     5875432
4264750  2020-01-31 23:59:57 UTC  remove_from_cart     5820745
4264751  2020-01-31 23:59:58 UTC  remove_from_cart     5820745

                 category_id category_code     brand  price    user_id  \
0        1602943681873052386           NaN   grattol  5.240  595414620
1        1487580012121948301           NaN  kinetics  3.970  595414640
2        1783999068867920626           NaN    zinger  3.970  595412617
3        1487580005754995573           NaN       NaN  4.920  420652863
4        2115334439910245200           NaN       NaN  3.920  484071203
...                      ...           ...       ...    ...        ...
4264747  1487580006317032337           NaN       NaN  1.590  607092857
4264748  1487580006317032337           NaN       NaN  1.590  607092857
4264749  2084144451428549153           NaN       NaN  2.050  423651741
4264750  1487580006317032337           NaN       NaN  2.220  607092857
4264751  1487580006317032337           NaN       NaN  2.220  607092857

                                 user_session
0        4adb70bb-edbd-4981-b60f-a05bfd32683a
1        c8c5205d-be43-4f1d-aa56-4828b8151c8a
2        46a5010f-bd69-4fbe-a00d-bb17aa7b46f3
3        546f6af3-a517-4752-a98b-80c4c5860711
4        cff70ddf-529e-4b0c-a4fc-f43a749c0acb
...                                       ...
4264747  a4ccd1c4-a9d2-48d0-9816-082ec5bb5e47
4264748  a4ccd1c4-a9d2-48d0-9816-082ec5bb5e47
4264749  fb42a963-abef-4c4f-b1ba-f5812dd54e80
4264750  a4ccd1c4-a9d2-48d0-9816-082ec5bb5e47
4264751  a4ccd1c4-a9d2-48d0-9816-082ec5bb5e47

[4264752 rows x 9 columns]'s shape: (4264752, 9)

In [5]:
data = pd.read_csv('alldata.csv')
data.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id
0,2019-12-01 00:00:00 UTC,remove_from_cart,5712790,1487580005268456287,NaN,f.o.x,6.270,576802932
1,2019-12-01 00:00:00 UTC,view,5764655,1487580005411062629,NaN,cnd,29.050,412120092
2,2019-12-01 00:00:02 UTC,cart,4958,1487580009471148064,NaN,runail,1.190,494077766
3,2019-12-01 00:00:05 UTC,view,5848413,1487580007675986893,NaN,freedecor,0.790,348405118
4,2019-12-01 00:00:07 UTC,view,5824148,1487580005511725929,NaN,NaN,5.560,576005683

## Data Cleaning

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20692840 entries, 0 to 20692839
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   event_time     object
 1   event_type     object
 2   product_id     int64
 3   category_id    int64
 4   category_code  object
 5   brand          object
 6   price          float64
 7   user_id        int64
dtypes: float64(1), int64(3), object(4)
memory usage: 1.2+ GB

In [7]:
data.nunique()

event_time       8782890
event_type             4
product_id         54571
category_id          525
category_code         12
brand                273
price               2860
user_id          1639358
dtype: int64

In [8]:
print("Duplicates : ", len(data[data.duplicated()]))

Duplicates :  1120949

可以看見數據中有100多萬筆重複值（所有欄位皆重複），這邊將重複的觀測值刪除。

In [9]:
data.drop_duplicates(inplace= True)

看一下資料的分布。

In [10]:
data.describe()

        product_id             category_id        price       user_id
count 19571891.000            19571891.000 19571891.000  19571891.000
mean   5481753.730 1554506323053204736.000        8.736 522120816.949
std    1310988.312  169466634088880352.000       19.751  87715872.193
min       3752.000 1487580004807082752.000      -79.370    465496.000
25%    5724652.000 1487580005754995456.000        2.110 483433608.000
50%    5810718.000 1487580008263189504.000        4.110 554125845.000
75%    5857952.000 1487580013522845952.000        7.140 579625275.500
max    5932595.000 2242903426784559104.000      327.780 622090237.000

發現price欄竟然有一些負值，檢視看看有多少負值。

In [11]:
len(data[data['price']<0])

124

相對於總共2000多萬筆數據而言並不多，因此我們選擇過濾這些不合理的值。

In [12]:
data = data[data['price']>= 0]

檢查缺失值。

In [13]:
na = data.isna().sum()
na

event_time              0
event_type              0
product_id              0
category_id             0
category_code    19229009
brand             8258403
price                   0
user_id                 0
dtype: int64

可以看見category_code, brand, user session中都有不少NaN的值，來看一下這三欄中有多少比例的數據是空值。

In [14]:
round(na /data.shape[0], 4)*100

event_time       0.000
event_type       0.000
product_id       0.000
category_id      0.000
category_code   98.250
brand           42.200
price            0.000
user_id          0.000
dtype: float64

category_code中NaN的比例高達98%，加上有意義相近的category_id可以作分析品類使用，因此這邊選擇直接棄用此欄位。

In [15]:
data.drop('category_code', axis= 1, inplace= True)

brand中有約42%是NaN，將他們替換成Unknown。

In [16]:
data['brand'] = data['brand'].fillna('Unknown')

## Changing Datatype
新增時間資料與修改資料結構。

In [17]:
data['event_time'] = pd.to_datetime(data['event_time'], format= '%Y-%m-%d %H:%M:%S UTC')
data = data.sort_values(by= 'event_time') 
data['event_time'].head()

8169123   2019-10-01 00:00:00
8169124   2019-10-01 00:00:03
8169126   2019-10-01 00:00:07
8169125   2019-10-01 00:00:07
8169127   2019-10-01 00:00:15
Name: event_time, dtype: datetime64[ns]

In [18]:
data['date'] = data['event_time'].dt.date
data['month'] = data['event_time'].dt.strftime('%b %Y') #月份顯示為 月-年 E.g. Feb 2020
data['day'] = data['event_time'].dt.day
data['weekday'] = data['event_time'].dt.day_name()  # 返回星期幾
data['hr'] = data['event_time'].dt.hour

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19571767 entries, 8169123 to 16428087
Data columns (total 12 columns):
 #   Column       Dtype
---  ------       -----
 0   event_time   datetime64[ns]
 1   event_type   object
 2   product_id   int64
 3   category_id  int64
 4   brand        object
 5   price        float64
 6   user_id      int64
 7   date         object
 8   month        object
 9   day          int64
 10  weekday      object
 11  hr           int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(5)
memory usage: 1.9+ GB

## Export Data

In [20]:
data.to_csv("newdata.csv", index= False)